<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Products</li>
  </ol>
</nav>

<div class="row gx-3 gy-3 h-100">
  <div
    *ngFor="let product of products"
    class="col-12 col-md-6 col-lg-4 flex-fill"
  >
    <app-product-card
      [product]="product"
      (selected)="goToDetail($event)"
      class="d-block h-100"
    >
    </app-product-card>
  </div>
</div>
